/venv*/
.idea/
/.github/

Gemfile
Gemfile.lock
.jekyll-cache
.sass-cache/
_site/

scripts/**
nb/**
/todo.md

# no-nos
/secrets.yml
/.env

# Firebase
/.firebaserc
/firebase.json
/firebase/

# Node
/node_modules/
/package-lock.json
