<header>
  <div class="header-banner">
    <a href="{{ '/' | relative_url }}">
      <h1>AndrewTFesta.com</h1>
    </a>
  </div>


  <ul class="header-navbar">
    <li>
      <a href="{{ '/aboutme' | relative_url }}">
        About Me
      </a>
    </li>
    <li>
      <a href="{{ '/research' | relative_url }}">
        Research
      </a>
    </li>
    <li>
      <a href="{{ '/lessons' | relative_url }}">
        Lessons Learned
      </a>
    </li>
    <li>
      <a href="{{ '/projects_overview' | relative_url }}">
        Projects
      </a>
    </li>
  </ul>
  <!--      <div class="dropdown">-->
  <!--        <a class="nav-link" href="{{ '/projects_overview' | relative_url }}">-->
  <!--          Projects-->
  <!--        </a>-->
  <!--        <div class="dropdown-content">-->
  <!--          <a class="dropdown-link" href="{{ '/projects_overview' | relative_url }}">-->
  <!--            Projects-->
  <!--          </a>-->
  <!--        </div>-->
  <!--      </div>-->
</header>

