<header>
  <div class="header-banner">
    <a href="{{ '/' | relative_url }}">
      <h1>AndrewTFesta.com</h1>
    </a>
  </div>


  <ul class="header-navbar">
    <li>
      <a href="{{ '/aboutme' | relative_url }}">
        About Me
      </a>
    </li>
    <li>
      <a href="{{ '/research' | relative_url }}">
        Research
      </a>
    </li>
    <li>
      <a href="{{ '/lessons' | relative_url }}">
        Lessons Learned
      </a>
    </li>
    <li class="dropdown">
        <a class="dropbtn" href="{{ '/projects_overview' | relative_url }}">
          Projects
        </a>
        <div class="dropdown-content">
          <a href="{{ '/projects/andrutil' | relative_url }}">
            Andrutil
          </a>
          <a href="{{ '/projects/andrutil' | relative_url }}">
            AutoDrone
          </a>
          <a href="{{ '/projects/andrutil' | relative_url }}">
            PyBoard
          </a>
          <a href="{{ '/projects/andrutil' | relative_url }}">
            SystemControl
          </a>
        </div>
    </li>
  </ul>

</header>

