/*body {*/
/*    font-family: 'Courier New', Courier, monospace;*/
/*    background-color: #f4f4f4;*/
/*    color: #333;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    height: 100vh;*/
/*    margin: 0;*/
/*}*/

/*.message {*/
/*    text-align: center;*/
/*    padding: 20px;*/
/*    border: 2px solid #333;*/
/*    background-color: #fff;*/
/*    border-radius: 10px;*/
/*    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
/*}*/

/*.message h1 {*/
/*    font-size: 1.5em;*/
/*    margin-bottom: 20px;*/
/*}*/

/*.message pre {*/
/*    text-align: left;*/
/*    background-color: #f0f0f0;*/
/*    padding: 15px;*/
/*    border-radius: 5px;*/
/*    border: 1px solid #ccc;*/
/*    white-space: pre-wrap;*/
/*}*/

/*.progress-bar {*/
/*    display: inline-block;*/
/*    color: #008000;*/
/*    font-weight: bold;*/
/*}*/

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
}

section {
  display: inline-block;
  margin: 0 0 20px 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px;
  font-weight: normal;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  letter-spacing: -0.03em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(181, 232, 83, 0.1), 0 0 10px rgba(181, 232, 83, 0.1);
}

li {
  line-height: 1.4;
}

/* Header elements */
header {
  top: 0;
  width: 100%;
  padding: 40px 0 0 0;
  margin: 0;
  background: #151515 url("../images/sunset_mountainrange.jpg");
  background-size: 100vw 100vh;
}

.header-banner {
  max-width: 1000px;
  margin: 12px auto;
}

.header-banner h1 {
  font-size: 30px;
  line-height: 1.5;
  margin: 0 0 0 -40px;
  font-weight: bold;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(181, 232, 83, 0.1), 0 0 10px rgba(181, 232, 83, 0.1);
  letter-spacing: -1px;
  -webkit-font-smoothing: antialiased;
}

.header-banner h1:before {
  font-size: 24px;
}

.header-navbar {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: black;
  border-top: 1px dashed #b5e853;
  border-bottom: 1px dashed #b5e853;
  overflow: hidden;
}

.header-navbar li {
  list-style-image: none;
  float: left;
}

.header-navbar li a, .dropbtn {
  padding: 14px 32px;
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  font-weight: 900;
}

.header-navbar li a:hover {
  color: #a2dafa;
  background-color: #171717;
}

li .dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  padding: 4px 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  background-color: black;
  margin-bottom: 2px;
  display: block;
  text-decoration: none;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {
  color: #a2dafa;
  background-color: #171717;
}

/* Main body */
#body-content {
  margin: 0 auto;
  display: flex;
  max-width: 2000px;
  padding-bottom: 2.5rem;
}

#center_content {
  width: 55%;
  padding: 0 1% 0 1%;
  margin: 0 1% 0 1%;
  border: #63c0f5;
  min-height: calc(100vh - 29vh);
}

#center_content h1 {
  font-size: 30px;
}

#center_content h2 {
  font-size: 24px;
}

#center_content h3 {
  font-size: 18px;
}

#center_content h4 {
  font-size: 14px;
}

.main-container #center_content h5 {
  font-size: 12px;
  text-transform: uppercase;
  margin: 0 0 5px 0;
}

#center_content h6 {
  font-size: 12px;
  text-transform: uppercase;
  color: #999;
  margin: 0 0 5px 0;
}

#right_content,
#left_content {
  width:20%;
  padding: 10px 1% 0 1%;
  margin: 0 1% 0 1%;
  border: #63c0f5;
  max-height: 500px;
}

dt {
  font-style: italic;
  font-weight: bold;
}

blockquote {
  padding-left: 10px;
  border-left: 1px dotted #666;
}

.page-footer {
  width: 100%;
  height: 8vh;
  text-align: center;
  margin-bottom: 2%;
}

.rss summary {
  font-size: 16px;
  padding: 25px 0 0;
}

.feed-title {
  font-size: 12px;
  display: none;
}

.feed-item-title {
  font-size: 12px;
}

.feed-desc {
  font-size: 10px;
}

.feed-item-desc {
  font-size: 10px;
}

.social-icon-container {
  display: inline;
  vertical-align: middle;
}

.social-icon {
  width: 2%;
  min-width: 21px;
  height: auto;
  padding-left: 1%;
  padding-right: 1%;
  margin-left: 1%;
  margin-right: 1%;
}

pre {
  padding: 10px;
  font-size: 16px;
  border-radius: 2px;
  word-wrap: normal;
  overflow: auto;
  overflow-y: hidden;
}

code.highlighter-rouge {
  padding: 0 3px;
  margin: 0 -3px;
  border-radius: 2px;
}

table {
  width: 100%;
  margin: 0 0 20px 0;
}

th {
  text-align: left;
  padding: 5px 10px;
}

td {
  padding: 5px 10px;
}

hr {
  height: 0;
  border: 0;
}

details {
  margin: 0 auto 1rem 1em;
  padding: 0 10px 10px 10px;
  border-radius: 5px;
  outline-width: 2px;
}

details > summary {
  font-size: 30px;
  font-weight: bold;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(181, 232, 83, 0.1), 0 0 10px rgba(181, 232, 83, 0.1);
  letter-spacing: -1px;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  padding: 20px 0;
  margin: 0 0 20px;
}

details > table {
  font-size: 16px;
  width: 100%;
}

img.codelink {
  height: 25px;
}

div.detailsButtons{
  width: 100%;
  text-align: center;
  padding-bottom: 1.5em;
}

/* Buttons */
.btn {
  display: inline-block;
  padding: 8px 18px;
  border-radius: 50px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 13px;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
}

.btn .icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 1px 8px 0 0;
  float: left;
}

.btn-github .icon {
  opacity: 0.6;
}

button {
  width: 45%;
  font-size: 24px;
  border-radius: 5px;
  background: #151515;
  color: #b5e853
}

/* Clearfix */
.cf:before, .cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
