<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--  CDN management to ensure site changes are reflected faster  -->
    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='0'>
    <meta http-equiv='pragma' content='no-cache'>

    <!-- tab styling -->
    <title>Andrew T. Festa</title>
    <link rel="icon" type="image/png" href="../assets/images/moyo.png">

    <!-- page styling -->
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="../assets/css/default.css">
  </head>

  <body>
    <header>
      <div class="container">

        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>AndrewTFesta.com</h1>
        </a>
        <br>

        <section class="header-nav-container" id="navigation">
          <a class="nav-link" href="{{ '/research' | relative_url }}">
            Research
          </a>
          <a class="nav-link" href="{{ '/projects_overview' | relative_url }}">
            Projects
          </a>
          <a class="nav-link" href="{{ '/cv' | relative_url }}">
            CV
          </a>
          <a class="nav-link" href="{{ '/aboutme' | relative_url }}">
            About Me
          </a>
          <a class="nav-link" href="{{ '/lessons' | relative_url }}">
            Lessons Learned
          </a>
        </section>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>

<!--    <div class="container footer">-->
<!--      <h1>-->
<!--        Contact Me-->
<!--      </h1>-->

<!--      <div>-->
<!--        <div>-->
<!--          The best way to contact me is by email:-->
<!--        </div>-->
<!--&lt;!&ndash;        <br>&ndash;&gt;-->
<!--        <div>-->
<!--          <a href="mailto:andrew@andrewtfesta.com">andrew@andrewtfesta.com</a>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
  </body>

  <footer class="page-footer">
    <div class="social-icon-container">
      <!-- Generic email icon -->
      <a href="mailto:andrewtfesta.com">
        <img class="social-icon" src="../assets/images/email_icon.png" alt="Gmail">
      </a>

      <!-- GitHub logo usage guidelines -->
      <!-- https://github.com/logos -->
      <a href="https://github.com/AndrewTFesta">
        <img class="social-icon" src="../assets/images/github_icon.png" alt="GitHub">
      </a>

      <!-- LinkedIn logo usage guidelines -->
      <!-- https://brand.linkedin.com/downloads -->
      <a href="https://www.linkedin.com/in/andrew-festa/">
        <img style="" class="social-icon" src="../assets/images/linkedin_icon.png" alt="LinkedIn">
      </a>
    </div>
  </footer>
</html>
